<section class="text-center flex justify-center items-center mt-10">
  <div class="md:max-w-prose">
    <section class="animate-fade-in-up animate-delay-700">
      <p>
        <strong class="text-rose-600">La rosa del desierto</strong>, conocida
        científicamente como Adenium obesum, es una planta suculenta originaria
        de África Oriental y la Península Arábiga. Esta planta es famosa por su
        capacidad de prosperar en climas áridos y su espectacular floración, lo
        que la convierte en una opción popular tanto para jardines exteriores
        como para interiores.
      </p>
    </section>
    <section class="p-4 animate-fade-in-up animate-delay-1000">
      <div class="bg-[#d9c4a1] p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold text-rose-600 mb-4">
          Taxonomía de la Rosa del Desierto
        </h2>
        <ul class="list-disc pl-6 text-gray-800 space-y-2">
          <li><strong>Reino:</strong> Plantae</li>
          <li><strong>División:</strong> Magnoliophyta</li>
          <li><strong>Clase:</strong> Magnoliopsida</li>
          <li><strong>Orden:</strong> Gentianales</li>
          <li><strong>Familia:</strong> Apocynaceae</li>
          <li><strong>Género:</strong> Adenium</li>
          <li><strong>Especie:</strong> Adenium obesum</li>
        </ul>
      </div>

      <div class="bg-[#d9c4a1] p-6 rounded-lg shadow-md mt-6">
        <h2 class="text-2xl font-semibold text-rose-600 mb-4">
          Características de la Rosa del Desierto
        </h2>
        <ul class="list-disc pl-6 text-gray-800 space-y-2">
          <li><strong>Nombre Científico:</strong> Adenium obesum</li>
          <li><strong>Familia:</strong> Apocynaceae</li>
          <li><strong>Tipo de Planta:</strong> Suculenta perenne</li>
          <li>
            <strong>Altura:</strong> Puede alcanzar hasta 3 metros en su hábitat
            natural, aunque en macetas suele ser más pequeña
          </li>
          <li>
            <strong>Tallo:</strong> Engrosado y suculento, almacena agua para sobrevivir
            en condiciones secas
          </li>
          <li>
            <strong>Hojas:</strong> Carnosas y de un verde brillante, miden entre
            9-11 cm de largo
          </li>
          <li>
            <strong>Flores:</strong> Grandes y en forma de embudo, con colores que
            varían desde el rosa pálido hasta el rojo intenso
          </li>
          <li>
            <strong>Savia:</strong> Tóxica, por lo que se debe tener cuidado con
            niños y mascotas
          </li>
        </ul>
      </div>
    </section>

    <style>
      ul li strong {
        color: #e11d48;
      }
    </style>
  </div>
</section>
