<section class="text-center flex justify-center items-center mt-10">
  <div class="max-w-prose">
    <section class="animate-fade-in-up animate-delay-700 p-6">
      <p>
        <strong class="text-rose-600">La rosa del desierto</strong>, conocida
        científicamente como Adenium obesum, es una planta suculenta originaria
        de África Oriental y la Península Arábiga. Esta planta es famosa por su
        capacidad de prosperar en climas áridos y su espectacular floración, lo
        que la convierte en una opción popular tanto para jardines exteriores
        como para interiores.
      </p>
    </section>
    <section class="p-4 animate-fade-in-up animate-delay-1000">
      <div class="bg-[#d9c4a1] p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold text-rose-600 mb-4">
          Taxonomía de la Rosa del Desierto
        </h2>
        <ul class="list-disc pl-6 text-gray-800 space-y-2">
          <li><strong>Reino:</strong> Plantae</li>
          <li><strong>División:</strong> Magnoliophyta</li>
          <li><strong>Clase:</strong> Magnoliopsida</li>
          <li><strong>Orden:</strong> Gentianales</li>
          <li><strong>Familia:</strong> Apocynaceae</li>
          <li><strong>Género:</strong> Adenium</li>
          <li><strong>Especie:</strong> Adenium obesum</li>
        </ul>
      </div>

      <div class="bg-[#d9c4a1] p-6 rounded-lg shadow-md mt-6">
        <h2 class="text-2xl font-semibold text-rose-600 mb-4">
          Características de la Rosa del Desierto
        </h2>
        <ul class="list-disc pl-6 text-gray-800 space-y-2">
          <li><strong>Nombre Científico:</strong> Adenium obesum</li>
          <li><strong>Familia:</strong> Apocynaceae</li>
          <li><strong>Tipo de Planta:</strong> Suculenta perenne</li>
          <li>
            <strong>Altura:</strong> Puede alcanzar hasta 3 metros en su hábitat
            natural, aunque en macetas suele ser más pequeña
          </li>
          <li>
            <strong>Tallo:</strong> Engrosado y suculento, almacena agua para sobrevivir
            en condiciones secas
          </li>
          <li>
            <strong>Hojas:</strong> Carnosas y de un verde brillante, miden entre
            9-11 cm de largo
          </li>
          <li>
            <strong>Flores:</strong> Grandes y en forma de embudo, con colores que
            varían desde el rosa pálido hasta el rojo intenso
          </li>
          <li>
            <strong>Savia:</strong> Tóxica, por lo que se debe tener cuidado con
            niños y mascotas
          </li>
        </ul>
      </div>
    </section>

    <section class="[&>p]:p-5 p-6">
      <p>
        <strong>Apariencia</strong> : La rosa del desierto se distingue por su tallo
        engrosado y suculento, que almacena agua para sobrevivir en condiciones secas.
        Sus hojas son carnosas y de un verde brillante, mientras que sus flores pueden
        variar en color desde el rosa pálido hasta el rojo intenso.
      </p>

      <p>
        <strong>Origen</strong>
        La rosa del desierto es originaria de <strong>África Oriental</strong>
        y la <strong>Península Arábiga</strong>. Esta planta se ha adaptado a <strong
          >climas áridos</strong
        > y es capaz de prosperar en <strong>condiciones extremas</strong> de calor
        y sequía.
      </p>

      <p>
        <strong>Historia</strong>
        La rosa del desierto ha sido apreciada durante <strong>siglos</strong>
        por su capacidad de <strong>sobrevivir en condiciones difíciles</strong>
        y su <strong>espectacular floración</strong>. En muchas culturas, se
        considera un símbolo de <strong>resistencia y belleza</strong>. Su
        nombre científico, <strong>Adenium obesum</strong>, hace referencia a su <strong
          >tallo engrosado</strong
        >, que es una característica común en muchas plantas <strong
          >suculentas de zonas áridas</strong
        >.
      </p>
    </section>
    <section class="p-4">
      <div class="bg-[#d9c4a1] p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold text-rose-600 mb-4">
          Cuidados de la Rosa del Desierto
        </h2>
        <ol class="list-decimal pl-6 text-gray-800 space-y-2">
          <li>
            <strong>Luz y Ubicación:</strong> Necesita mucha luminosidad y, a ser
            posible, pleno sol. Aunque puede cultivarse en interiores, lo ideal es
            que esté en un lugar con la mayor cantidad de luz posible.
          </li>
          <li>
            <strong>Riego:</strong> Riego moderado. Durante el crecimiento, se recomienda
            regar cada 10 a 15 días, permitiendo que el sustrato se seque completamente
            entre riegos. Evitar el exceso de agua para prevenir la pudrición de
            las raíces.
          </li>
          <li>
            <strong>Sustrato:</strong> Necesita un sustrato bien drenado. Una mezcla
            de tierra para macetas con perlita o arena gruesa es ideal para mejorar
            el drenaje.
          </li>
          <li>
            <strong>Temperatura:</strong> Prefiere temperaturas cálidas y no tolera
            bien las temperaturas por debajo de los 10ºC. En invierno, es mejor mantenerla
            protegida del frío.
          </li>
          <li>
            <strong>Fertilización:</strong> Aplica un fertilizante equilibrado durante
            la temporada de crecimiento (primavera y verano) para proporcionar los
            nutrientes necesarios para florecer. Un fertilizante líquido diluido
            a un tercio de la dosis recomendada es adecuado.
          </li>
          <li>
            <strong>Poda:</strong> Podar ramas muertas o enfermas promueve un crecimiento
            saludable y una floración abundante, además de ayudar a mantener la forma
            de la planta.
          </li>
          <li>
            <strong>Plagas y Enfermedades:</strong> Susceptible a plagas como pulgones
            y cochinillas. Revisar regularmente y tratar infestaciones con insecticidas
            adecuados.
          </li>
        </ol>
      </div>

      <div class="bg-[#d9c4a1] p-6 rounded-lg shadow-md mt-6">
        <h2 class="text-2xl font-semibold text-rose-600 mb-4">
          Utilidades de la Rosa del Desierto
        </h2>
        <ol class="list-decimal pl-6 text-gray-800 space-y-2">
          <li>
            <strong>Ornamental:</strong> La rosa del desierto es muy apreciada como
            planta ornamental debido a su espectacular floración y su capacidad de
            adaptarse a diferentes entornos. Es ideal para jardines, terrazas y como
            planta de interior.
          </li>
          <li>
            <strong>Paisajismo:</strong> Se utiliza en proyectos de paisajismo en
            regiones áridas y semiáridas, donde otras plantas no prosperan tan bien.
          </li>
          <li>
            <strong>Medicina tradicional:</strong> En algunos sistemas de medicina
            tradicional, se ha utilizado para tratar úlceras, heridas, problemas
            de piel y algunos tipos de cáncer. Sin embargo, se necesita más investigación
            para tener evidencia concluyente de su aplicación medicinal. Algunas
            partes de la rosa del desierto contienen compuestos tóxicos, por lo que
            se debe tener cuidado si se quiere usarla como medicina.
          </li>
          <li>
            <strong>Bonsái:</strong> Debido a su estructura y crecimiento, también
            se cultiva como bonsái, lo que permite a los jardineros crear formas
            artísticas y únicas.
          </li>
        </ol>
      </div>
    </section>

    <section class="p-6">
      <p>
        Un fenómeno interesante que se observa aquí incluye cambios estacionales
        pronunciados que afectan su <strong>apariencia</strong> a lo largo del año.
        Durante el invierno o períodos de sequía cuando la disponibilidad de agua
        es limitada, esta planta pierde la mayoría, si no todas, sus hojas, manteniendo
        sus recursos almacenados el mayor tiempo posible, lo que las hace parecer
        estériles pero aún vivas debido al robusto cáudex. Luego llega la primavera,
        cuando las yemas preexistentes estallan en ramos de follaje <span
          class="text-green-600 font-bold">verde brillante</span
        >.
      </p>
    </section>

    <section>
      <details class="p-4 bg-[#d9c4a1] rounded-lg shadow-md mt-6">
        <summary class="text-lg font-semibold text-gray-800 cursor-pointer mb-2"
          >Referencias</summary
        >
        <div
          class="text-gray-800 text-sm space-y-3 pl-4 sm:text-base sm:space-y-4"
        >
          <p>
            <strong>(s.f.)</strong> Rosa del Desierto. Flores. Consultado el 26 de
            octubre de 2024.
            <a
              href="https://www.flores.ninja/rosa-del-desierto/"
              class="text-blue-600 underline break-words"
              >https://www.flores.ninja/rosa-del-desierto/</a
            >
          </p>
          <p>
            <strong>Belén Acosta (s.f)</strong> Rosa del desierto cuidados. Ecología
            Verde. Consultado el 26 de octubre de 2024.
            <a
              href="https://www.ecologiaverde.com/rosa-del-desierto-cuidados-2492.html"
              class="text-blue-600 underline break-words"
              >https://www.ecologiaverde.com/rosa-del-desierto-cuidados-2492.html</a
            >
          </p>
          <p>
            <strong>BioSpace (2024, 03 de enero)</strong> Rosa del Desierto o Adenium
            obesum. BioSpace. Consultado el 26 de octubre de 2024.
            <a
              href="https://www.biospace.es/rosa-del-desierto/"
              class="text-blue-600 underline break-words"
              >https://www.biospace.es/rosa-del-desierto/</a
            >
          </p>
          <p>
            <strong>Carla Dominguez (2024)</strong> Flor o risa del desierto. El
            Mueble. Consultado el 26 de octubre de 2024.
            <a
              href="https://www.elmueble.com/plantas-flores/rosa-desierto-planta-exterior-flor-que-soporta-bien-altas-temperaturas_49454"
              class="text-blue-600 underline break-words"
              >https://www.elmueble.com/plantas-flores/rosa-desierto-planta-exterior-flor-que-soporta-bien-altas-temperaturas_49454</a
            >
          </p>
          <p>
            <strong>Carlos Puerto (2002)</strong> La rosa del desierto. Lecturalia.
            Consultado el 26 de octubre de 2024.
            <a
              href="https://www.lecturalia.com/libro/68901/la-rosa-del-desierto"
              class="text-blue-600 underline break-words"
              >https://www.lecturalia.com/libro/68901/la-rosa-del-desierto</a
            >
          </p>
          <p>
            <strong>Patricia Carril (2024, 24 de mayo)</strong> Rosa del desierto
            o adenio: características y cuidados. Jardinatis. Consultado el 26 de
            octubre de 2024.
            <a
              href="https://www.hogarmania.com/jardineria/fichas/arbustos/rosa-desierto-adenio-adenium-obesum-13484.html"
              class="text-blue-600 underline break-words"
              >https://www.hogarmania.com/jardineria/fichas/arbustos/rosa-desierto-adenio-adenium-obesum-13484.html</a
            >
          </p>
          <p>
            <strong>Wikipedia (2023, 30 de abril)</strong> Adenium Obesum. Wikipedia.
            Consultado el 26 de octubre de 2024.
            <a
              href="https://es.wikipedia.org/wiki/Adenium_obesum"
              class="text-blue-600 underline break-words"
              >https://es.wikipedia.org/wiki/Adenium_obesum</a
            >
          </p>
          <p>
            <strong>Wikipedia (2024, 09 de febrero)</strong> Rosa del desierto. Wikipedia.
            Consultado el 26 de octubre de 2024.
            <a
              href="https://es.wikipedia.org/wiki/Rosa_del_desierto"
              class="text-blue-600 underline break-words"
              >https://es.wikipedia.org/wiki/Rosa_del_desierto</a
            >
          </p>
        </div>
      </details>
    </section>
  </div>
</section>

<style>
  strong {
    color: #e11d48;
  }
</style>
