<footer class="bg-[#c7b19b] p-6 mt-6 rounded-lg shadow-md">
  <div class="text-center text-gray-800">
    <p class="text-lg font-semibold mb-2">
      <strong>Ciclo escolar 2022-2025</strong>
    </p>
    <p class="text-lg font-semibold mb-4"><strong>Grupo 505</strong></p>
    <h3 class="text-md font-semibold mb-2">
      <strong>Integrantes del equipo:</strong>
    </h3>
    <ul class="list-disc list-inside">
      <li><strong>Darling Jaqueline Díaz Ozuna</strong></li>
      <li><strong>Mara Daniela Jacinto Malagón</strong></li>
      <li><strong>Naomi Lizbeth Sevilla González</strong></li>
      <li><strong>Ángel Daniel Molina Abarca</strong></li>
    </ul>
  </div>
</footer>
