<header class="text-4xl pt-3 flex items-center justify-center flex-col">
  <h1 class="text-center animate-fade-in-up">Rosa del Desierto</h1>
  <img
    src="./rosa-del-desierto.png"
    alt=""
    class="animate-fade-in-up animate-delay-500 size-64"
  />
</header>

<style>
  img {
    filter: drop-shadow(0px 0px 10px #000000);
  }
</style>
